.pagina{
	display: grid;
	grid-template-rows: 200px 1fr 1fr;
	width: 100%;
	row-gap: 20px;
	justify-content: center;
}
.principal{
	padding: 5px;
	background-color: #999999;
	text-align: center;
}

p{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

li{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Perfil{
	width: 200px;
	height: 200px;
	border: groove black;
}

.info{
	background-color: #999999;
}

.Redes{
	text-align: center;
	height: 150px;
	background-color: #999999;
}

.nome{
	padding: 5px;
	text-align: center;
	background-color: #999999;
}

.center{
	text-align: center;
}

.voltar{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
}
#horarios{
	text-align: center;
}

header{
	display: grid;
	justify-content: center;
	grid-template-columns: 200px 1fr;
	column-gap: 20px;
}

body{
	max-width: 100%;
	background: linear-gradient(90deg, #e6e6e6, #bfbfbf)
}

table,
td {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}